@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;

  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-secondary);
  margin: 88px 80px 48px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-default);
  /* justify-content: flex-end; ? */
}

header {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headline {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-headline);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-primary);
}

.highlight {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  padding: 4px 0;
}

.highlight img {
  height: 660px;
}

img {
  height: 350px;
  width: 100%;
  border-radius: 28px;
  object-fit: cover;
}

.subtitle {
  font-style: italic;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  background-color: var(--border-primary);
}

.description {
  margin: 24px 0 64px 0;
}

h2 {
  font-size: 32px;
  color: var(--text-primary);
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

h3 {
  color: var(--text-primary);
  margin: 20px 0 4px 0;
  font-size: 28px;
  font-weight: bold;
}

.tags-container {
  font-weight: bold;
}

.label {
  margin-top: 30px;
}

.tag {
  margin-left: 20px;
}

.tag::marker {
  color: var(--text-primary);
}

.tag.historia {
  color: var(--accent-blue);
}

.tag.casais {
  color: var(--accent-purple);
}

.tag.familias {
  color: var(--accent-pink);
}

.tag.orcamento {
  color: var(--accent-orange);
}

.ending-text {
  text-align: center;
}

footer {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer i {
  margin: 0 4px;
}
